fastapi==0.115.6
uvicorn
pydantic==2.10.4
python-dotenv
yfinance==0.2.51
pandas==2.2.2
scipy==1.14.1
scikit-learn==1.6.1
joblib==1.4.2
python-dateutil
tensorflow==2.16.1
keras==3.3.3
h5py==3.13.0
numpy==1.26.4
google-genai