# Gemini API Configuration
GEMINI_API_KEY_IHSG=your_gemini_api_key_ihsg
GEMINI_API_KEY_ANALYSIS=your_gemini_api_key_analysis

# Supabase Configuration
SUPABASE_URL=your_supabase_url
SUPABASE_KEY=your_supabase_key